.diagram-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.subcomponent {
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  flex-grow: 1;
}

.diagram-container {
  flex: 1;
  position: relative;
}